<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScanQRCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4ACEB57A1DD17F7600D1A058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACEB58E1DD17F7700D1A058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACEB5991DD17F7700D1A058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
